/* Rende la barra di ricerca più grande e più facile da vedere */
.search-bar {
  width: 100%;
  padding: 15px;
  font-size: 1.25rem;
  border: 1px none #ced4da;
  border-radius: 5px;
  margin-top: 20px;
  transition: border-color 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Stili per l'input-group */
.input-group {
  position: relative;
}

/* Stili per l'input della barra di ricerca */
.input-group .form-control {
  width: 100%;
}

/* Stili per il pulsante di ricerca */
.input-group .btn-primary {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

/* Stili per il messaggio di errore */
.error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 10px;
}

/* Stili per i suggerimenti */
.suggestions {
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.suggestions-header {
  padding: 10px;
  font-weight: bold;
  border-bottom: 1px solid #ced4da;
}

.suggestion {
  padding: 10px;
  cursor: pointer;
}

.suggestion:hover {
  background-color: #f8f9fa;
}
